{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>Chatroom</title>
{% endblock %}

{% block body %}
    <div style="font-size:3vw">
        This is the beginning of the chat:
    </div>
    <br>
    {% for chat_message in message_stream %}
        {{ chat_message.user.username }} {{ chat_message.created_at }}
        <br>
        {{ chat_message.content }}
        <br>
    {% endfor %}

    <br>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Post message</button>
    </form>
{% endblock %}

