<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    {% block title %} {% endblock %}
    <title>Base</title>

    <link rel="icon" href="{% static 'images/favicon.ico' %}">
</head>

<body>
<div class="container-fluid">
    <nav class="navbar" style="">
        <div class="navbar-header">
            <a class="navbar-brand custom-nav-text" href="{% url 'home' %}">Home</a>
            <a class="navbar-brand custom-nav-text" href="{% url 'library_home' %}">Library</a>
            <a class="navbar-brand custom-nav-text" href="{% url 'upload_pdf' %}">Upload</a>
        </div>
        {% if user.is_authenticated %}
            <a class="align-content-end custom-nav-text" href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a class="align-content-end custom-nav-text" href="{% url 'login' %}">Login</a>
        {% endif %}
    </nav>
</div>
<div class="container text-center" style="color:red">
    <h3>
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </h3>
</div>

<div class="container ">
    {% block body %} {% endblock %}
</div>

<script src="{% static "bootstrap.min.js" %}"></script>

</body>
</html>
