{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>Login</title>
{% endblock %}

{% block body %}
    <div class="container h-100">
        <div class="align-items-center">
            <div class="text-center">
                <form method="post">
                    <h1 class="font-weight-light">
                        {% csrf_token %}
                        {% for requirement in form %}
                            {{ requirement.label }}
                            {{ requirement }}
                            <br>
                        {% endfor %}
                        <button type="submit">Login</button>
                    </h1>
                </form>
                <p class="lead"><a href="{% url 'register' %}">Create account</a></p>
                </h1>
            </div>
        </div>
    </div>
{% endblock %}