{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}

{% block body %}
    <div id="form-div" class="container text-center">
        <form method="post">
            {% csrf_token %}
            {% for requirement in form %}
                {{ requirement.label }}
                {{ requirement }}
                <br>
            {% endfor %}
            <button class="rounded" type="submit">Login</button>
        </form>
        <a class="register-link" href="{% url 'register' %}">Create account</a>
    </div>
{% endblock %}